body {
    font-family: 'Poppins', sans-serif;
}

.navbar-nav > li {
    padding-left:5px;
    padding-right:5px;
}

.container {
    padding-top:20px;
    padding-bottom:20px;
}
/*
.card {
    background-color:#F6EFE4;
}
*/

.dark-mode {
    background-color:black;
    color:white;

    .card {
        background-color:black;
    }

    .border-dark {
        border:2px solid white;
        outline-style:solid;
        outline-color:white;
    }

    .btn {
        color:#9DA5AF;
    }
}
.dark-mode {
    animation-name:text-fade;
    animation-duration:0.5s;
}