body {
    margin:0;
}

a {
    color:#CBE9BF;
}
a:hover {
    color:#65BE41;
}

.title {
    font-size:5rem;
    color:#CBE9BF;
    text-shadow:0 0 5px black;
    z-index:1;
}

/* Parallax background */

#grad1 {
    background-image: linear-gradient(to bottom, black, #3e3b2f, #edd0a2, white);
}
#grad2 {
    background-image:radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));
    border-radius:50%;
    size:200%;
}

.circle {
    height:500px;
    width:500px;
    background-color:yellow;
    border-radius:50%;

    z-index:-1;
    position:absolute;
    top:60%;
    left:50%;

    overflow:hidden;
}
.moon {
    position:absolute; 
    top:10%;
    left:90%;
}
.background,.foreground {
    position:absolute;
}

.background-image {
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
}