* {
    box-sizing:border-box;
}

/*Body and paragraph styling below*/
body {
    background-color: #f2efe4;
    font-family:"Open Sans";
    margin:0;
    padding:0;
}
p {
    font-size:20px;
    padding-bottom:10px;
}
p.thick {
    font-weight: bold;
}
.center-text {
    margin:auto;
    text-align:center;
    width: 50%;
    padding: 10px 10px 10px 10px;
}
li {
    text-align:left;
    padding:5px;
}
.left-text {
    margin:auto;
    text-align:left;
    padding: 10px 10px 10px 10px;
}
h1 {
    padding: 10px 10px 10px 10px;
}


/*General button styling*/
button, form {
    background-color: #333;
    color:white;
    padding: 15px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
button:hover {
    background-color:red;
}
button:active {
    box-shadow: 2px 2px 5px grey;
    background-color:#990000;
}
.modeButtonStyle {
    background-color: white;
    color:black;
}
.dark-mode {
    background-color:black;
    color:white;
}
.listColor {
    color:white;
}

/*iframe*/
iframe {
    display:block;
}

/*Scroll wheel*/
::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-track {
    background:#333;
}
::-webkit-scrollbar-thumb {
    background:#888;
}
::-webkit-scrollbar-thumb:hover {
    background:red;
}

/*Divider line*/
hr.solid {
    width:75%;
    margin:auto;
    border-top:3px solid #bbb;
}

/*Default div column styling below*/
.column3 {
    columns:3 auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
.column2 {
    columns:2 auto;
    column-gap:100px;
    padding-left:100px;
    padding-right:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.center-columns {
    box-align:center;
    /* border:1px solid #111111; */
}
.flexbox-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:stretch;
}
.flexbox-item {
    border:1px solid #BBB;
    border-radius:10px;
}

/*Row div column styling below*/
.block {
    padding:100px;
    /* border:1px solid #111111; */
}
.left {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.middle {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.right {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.big-left {
    float:left;
    width:60%;
    padding:10px;
    height:200px;
}
.row:after {
    content: "";
    display:table;
    clear:both;
}

/*Background color of a div block*/
.div-background {
    color:white;
}

/*Current Nav Bar*/
.navbar {
    overflow: hidden;
    background-color: #333;
    border-radius:10px;
    position:fixed;
    height:48px;
    
    opacity:1;
    left:2%;
    right:2%;
    top:1%;

    display:flex;
    justify-content:start;
    align-items:center;
}
    
.center-header {
    position:fixed;
    left:46%;
    font-size:150%;
}

.navbar-links a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
display:block;
}
.dropdown {
float: left;
overflow: hidden;
}
.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}
.navbar-links a:hover, .dropdown:hover .dropbtn {
background-color: red;
}
.dropdown-content {
display: none;
position: fixed;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius:10px;
}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
.toggle-button {
    position:absolute;
    display:none;
    right:0%;
    flex-direction:column;
    justify-content:space-between;
    width:30px;
    height:21px;
    border-radius:10px;
}
.toggle-button .bar {
    height:3px;
    width: 100%;
    background-color:white;
    border-radius:10px;
}
.navbar-links {
    margin:0;
    padding:0;
    display:flex;
}
@media (max-width:800px) {
    .toggle-button {
        display:flex;
        position:fixed;
        right:2%;
    }
    .center-header {
        left:2%;
    }
    .navbar-links {
        display:none;
        width:100%;
    }
    .navbar {
        flex-direction:column;
        align-items:flex-start;
        width:100%;
    }
    .navbar-links ul {
        flex-direction:column;
    }
    .navbar-links li {
        text-align:center;
    }
    .navbar-links li a {
        padding:10px;
    }
    .navbar-links.active {
        display:flex;
    }
}

/*Footer styling below*/
footer {
    background-color: #333;
    left:2%;
    right:2%;
    bottom:2%;
    border-radius:10px;
}
ul.footer {
    list-style-type: none;
    overflow:hidden;
    font-size:15px;
    float:left;
    padding:5px;
    text-align:center;
}
ul {
    list-style-type:circle;
    color:black;
    font-size:20px;
}
li.footer {
    float:left;
    padding:5px;
}
li a {
    display:block;
    display:inline;
    float:left;
    padding:8px;
    color:white;
    text-align:center;
}
li a:hover {
    color:#ff0000;
}
p a:hover {
    color:#ff0000;
}
a {
    color:#374F53;
}

/*Collapsable header*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

  /*Images*/
  img.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    right:85px;
  }
  
  img.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  .center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:750px;
    Padding-top:50px;
  }

  /*Animations for images*/
img {
    animation-name:fade-in;
    animation-duration:1s;
}
@keyframes fade-in {
    0% {opacity:0;}
    100% {opacity:1;}
}
p, h1, h2, h3, hr, li, iframe {
    animation-name:text-fade;
    animation-duration:1s;
}
@keyframes text-fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
.dropdown-content {
    animation-name:dropdown-fade;
    animation-duration:0.5s;
}
@keyframes dropdown-fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
.dark-mode {
    animation-name:text-fade;
    animation-duration:0.5s;
}