/*Body and paragraph styling below*/
body {
    background-color: #F2EFE4;
    font-family:"Open Sans";
}
p {
    font-size:16px;
    padding-bottom:10px;
}
p.thick {
    font-weight: bold;
}
.center-text {
    margin:auto;
    text-align:center;
    /* border:1px solid #111111; */
    width: 50%;
    padding: 10px 10px 10px 10px;
}
.left-text {
    margin:auto;
    text-align:left;
    /* border:1px solid #111111; */
    padding: 10px 10px 10px 10px;
}
h1 {
    padding: 10px 10px 10px 10px;
}

/**/
hr.solid {
    width:50%;
}

/*Default div column styling below*/
.column3 {
    columns:3 auto;
}
.column2 {
    columns:2 auto;
    column-gap:100px;
    padding-left:100px;
    padding-right:100px;
}
.center-columns {
    box-align:center;
    /* border:1px solid #111111; */
}

/*Row div column styling below*/
.block {
    padding:100px;
    /* border:1px solid #111111; */
}
.left {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.middle {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.right {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.big-left {
    float:left;
    width:60%;
    padding:10px;
    height:200px;
}
.row:after {
    content: "";
    display:table;
    clear:both;
}

/*Background color of a div block*/
.div-background {
    background-color:#555555;
    color:white;
}

/*Header styling below*/
.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}
.header {
    background: #555555;
    color: #f1f1f1;
    position:fixed;
    top:0;
    width:100%;
}
.content {
    padding:16px;
}
.sticky {
    position:fixed;
    top:0;
    width:100%;
}
.sticky + .content {
    padding-top:102px;
}

/*Footer styling below*/
footer {
    padding:1px;
    background-color: #555555;
    width:100%;
}
ul {
    list-style-type: none;
    overflow:hidden;
}
li {
    display:inline;
    float:left;
    padding:5px;
    text-align:center;
    color:white;
    background-color: #555555;
}
li a {
    display:block;
    padding:8px;
    color:white;
    text-align:center;
}
li a:hover {
    color:#45a049;
}

/*Contact form styling*/
input[type=text], select, textarea {
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color:white;
    padding: 12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
input[type=submit]:hover {
    background-color:#45a049;
}
.container {
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
}