/*Body and paragraph styling below*/
body {
    background-color: #F2EFE4;
    font-family:"Open Sans";
}
p {
    font-size:20px;
    padding-bottom:10px;
}
p.thick {
    font-weight: bold;
}
.center-text {
    margin:auto;
    text-align:center;
    /* border:1px solid #111111; */
    width: 50%;
    padding: 10px 10px 10px 10px;
}
.left-text {
    margin:auto;
    text-align:left;
    /* border:1px solid #111111; */
    padding: 10px 10px 10px 10px;
}
h1 {
    padding: 10px 10px 10px 10px;
}

/*Divider line*/
hr.solid {
    width:75%;
}

/*Default div column styling below*/
.column3 {
    columns:3 auto;
}
.column2 {
    columns:2 auto;
    column-gap:100px;
    padding-left:100px;
    padding-right:100px;
}
.center-columns {
    box-align:center;
    /* border:1px solid #111111; */
}

/*Divider styling*/
hr.solid {
    border-top: 3px solid #bbb;
  }

/*Row div column styling below*/
.block {
    padding:100px;
    /* border:1px solid #111111; */
}
.left {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.middle {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.right {
    float:left;
    width:30%;
    padding:10px;
    height:250px;
}
.big-left {
    float:left;
    width:60%;
    padding:10px;
    height:200px;
}
.row:after {
    content: "";
    display:table;
    clear:both;
}

/*Background color of a div block*/
.div-background {
    color:white;
}

/*Header styling below*/
.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}
.header {
    position:fixed;
    top:0;
    width:100%;
    background-color:#555555;
    color:white;
}
.content {
    padding:16px;
}
.sticky {
    position:fixed;
    top:0;
    width:100%;
}
.sticky + .content {
    padding-top:102px;
}

/*Navbar*/
.navbar {
    justify-content:space-between;
}
.navbar ul li {
    display:inline-block;
    margin:0 20px;
    position:relative;
    border-radius:25px;
    font-weight:bold;
    border:2px solid #009688;
    background:transparent;
    color:white;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}
.navbar ul li::after {
    content: '';
    height:3px;
    width:0px;
    background:#009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
.navbar ul li:hover::after {
    width:100%;
}
span {
    background:#009688;
    height:100%;
    width:0%;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}
.navbar ul li:hover span {
    width:100%;
}
.navbar ul li:hover {
    border:none;
}

/*Footer styling below*/
footer {
    padding:1px;
    background-color: #555555;
    width:100%;
}
ul {
    list-style-type: none;
    overflow:hidden;
}
ul.standard {
    list-style-type:circle;
    color:black;
    font-size:20px;
}
li {
    float:left;
    padding:5px;
    text-align:center;
}
li a {
    display:block;
    display:inline;
    float:left;
    padding:8px;
    color:white;
    text-align:center;
}
li a:hover {
    color:white;
}

/*Contact form styling*/
input[type=text], select, textarea {
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color:white;
    padding: 12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
input[type=submit]:hover {
    background-color:#45a049;
}
.container {
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
}

/*Collapsable header*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

  /*Images*/
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }